<?xml version="1.0"?>
<launch>
  <include file="$(find warthog_gazebo)/launch/warthog_world.launch" />
  <include file="$(find warthog_navigation)/launch/pc2ls.launch" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find warthog_navigation)/navigation.rviz" />
  <include file="$(find warthog_navigation)/launch/move_base.launch" />
  <include file="$(find warthog_navigation)/launch/amcl.launch" />
</launch>